
module postfix-virtual 1.0;

require {
        type dovecot_auth_t;
        type krb5_keytab_t;
        type init_t;
        type logrotate_t;
        type postfix_virtual_t;
        type postgresql_port_t;
        type spamd_t;
        type unlabeled_t;
        type user_tmp_t;
        type var_lib_t;
        type var_t;

        class dir { search write read };
        class file { execute execute_no_trans getattr open read write map lock };
        class lnk_file { read write getattr };
        class tcp_socket name_connect;
}

#============= postfix ==============
allow postfix_virtual_t krb5_keytab_t:dir search;

#============= dovecot ==============
allow dovecot_auth_t postgresql_port_t:tcp_socket name_connect;

#============= spamd ==============
allow spamd_t var_lib_t:lnk_file { getattr read write };
allow spamd_t var_lib_t:dir { write read search };

#============= logrotate ==============
allow logrotate_t unlabeled_t:file { read getattr };
allow logrotate_t var_t:file { read getattr open write map lock };
allow logrotate_t var_t:dir { read search };

#============= derp ==============
allow init_t user_tmp_t:file { execute execute_no_trans map };
